<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daou.kr.mapper.TblBoardMapper">

	<resultMap id="boarddto" type="com.daou.kr.dto.BoardDto">
		<result property="boardinc" column="boardinc" />
		<result property="boardid" column="boardid" />
		<result property="usercd" column="usercd" />
		<result property="board_content_txt" column="board_content_txt" />
		<result property="board_content_img" column="board_content_img" />
		<result property="board_content_price" column="board_content_price" />
	</resultMap>

	<select id="getBoardItems" resultMap="boarddto">
		SELECT
		*
		FROM tbl_board
		ORDER BY
		boardinc DESC
	</select>
	<select id="getBoardItem" resultMap="boarddto">
		SELECT
		*
		FROM tbl_board
		WHERE
		boardinc = #{value}
		LIMIT 1
	</select>
	<insert id="insert" parameterType="com.daou.kr.dto.BoardInsertDto">
		INSERT INTO tbl_board(boardid,usercd,board_content_txt) values(0,#{usercd},#{board_content_txt})
	</insert>
	<delete id="delete" parameterType="String">
		DELETE
		FROM tbl_board
		WHERE boardinc = #{value}
	</delete>
</mapper>